---
- name: Write interface configuration
  ansible.builtin.template:
    src: iface.nmconnection.j2
    dest: "/etc/NetworkManager/system-connections/{{ iface.name }}.nmconnection"
    owner: root
    mode: "600"
  vars:
    iface: "{{ item }}"
  with_items: "{{ network_interfaces | default([]) }}"
  notify: network_restart
