---
- name: "Reboot (one node at a time)"
  ansible.builtin.reboot:
    msg: "rebooting now"
    connect_timeout: 10
    post_reboot_delay: 15
  throttle: 1
  listen: network_vxlanevpn_reboot

- name: sysctl_restart
  ansible.builtin.service:
    name: systemd-sysctl
    state: restarted

- name: "Refresh facts"
  ansible.builtin.setup:
    gather_subset:
      - network
  listen: network_vxlanevpn_reboot

- name: network_restart
  ansible.builtin.include_tasks: "tasks/network_restart.yml"
- name: frr_reload
  ansible.builtin.service:
    name: frr
    state: reloaded
