{% set files = [] %}
{% if network_vtep_ip is defined %}
{%   do files.append("10-vtep.netdev") %}
{%   do files.append("10-vtep.network") %}
{% endif %}
{% for iface in network_interfaces|default([]) %}
{%   do files.append("10-eth-" ~ iface.name|default(iface.ifname) ~ ".link") %}
{%   do files.append("10-eth-" ~ iface.name|default(iface.ifname) ~ ".network") %}
{% endfor %}
{% for iface in network_underlay_interfaces|default([]) %}
{%   do files.append("10-underlay-iface" ~ loop.index0 ~ ".link") %}
{%   do files.append("10-underlay-iface" ~ loop.index0 ~ ".network") %}
{% endfor %}
{% for bond in network_bonds|default([]) %}
{%   do files.append("20-bond-" ~ bond.name ~ ".netdev") %}
{%   for interface in bond.interfaces %}
{%     do files.append("40-bond-" ~ bond.name ~ "-iface" ~ loop.index0 ~ ".network") %}
{%   endfor %}
{%   do files.append("60-bond-" ~ bond.name ~ ".network") %}
{% endfor %}
{% for bridge in network_bridges|default([]) %}
{%   do files.append("30-bridge-" ~ bridge.name ~ ".netdev") %}
{%   for interface in bridge.interfaces|default([]) %}
{%     do files.append("50-bridge-" ~ bridge.name ~ "-" ~ (interface.ifname if interface.ifname is defined else 'iface' ~ loop.index0) ~ ".network") %}
{%   endfor %}
{%   do files.append("60-bridge-" ~ bridge.name ~ ".network") %}
{% endfor %}
{% for vlan in network_vlans|default([]) %}
{%   do files.append("40-bridge-" ~ vlan.bridge ~ "-vlan" ~ vlan.vlan ~ "-" ~ vlan.name ~ ".netdev") %}
{%   do files.append("60-bridge-" ~ vlan.bridge ~ "-vlan" ~ vlan.vlan ~ "-" ~ vlan.name ~ ".network") %}
{% endfor %}
{% for vxlan in network_vxlans|default([]) %}
{%   do files.append("40-vxlan" ~ vxlan.vni ~ ".netdev") %}
{%   do files.append("50-bridge-" ~ vxlan.bridge ~ "-vxlan" ~ vxlan.vni ~ ('-vlan' ~ vxlan.vlan if vxlan.vlan is defined else '') ~ ".network") %}
{% endfor %}
{{- files -}}
