{% import 'macros/ip_funcs.j2' as ipfn %}
{% set bond_ifnames = network_bonds|default([]) | map(attribute='name') | list %}
{% set bridge_ifnames = network_bridges|default([]) | map(attribute='name') | list %}
{% if network_vtep_ip is not defined %}
{{ notdefined | mandatory(msg='network_vtep_ip must be defined') }}
{% endif %}
network:
  version: 2
{% include "netplan.conf.tunnels.j2" -%}
{% include "netplan.conf.bonds.j2" -%}
{% include "netplan.conf.bridges.j2" -%}
  ethernets:
    lo:
      match:
        name: lo
      addresses:
        - 127.0.0.1/8
        - ::1/128
        - {{ network_vtep_ip|split('/')|first }}/32
{% include "netplan.conf.phy.j2" -%}
