{# For each physical underlay interface, configure it, enable ipv6 link-local #}
{% for interface in network_underlay_interfaces|default([]) %}
{%   set ifnames = ipfn.resolve_ifnames(ansible_facts, interface, bond_ifnames + bridge_ifnames) | from_yaml %}
{%   for ifname in ifnames %}
{%     if ifname not in bond_ifnames + bridge_ifnames %}
{# We make sure to only include physical ethernets here, not bond or bridges #}
    {{ ifname }}:
      link-local: [ ipv6 ]
      mtu: {{ network_underlay_mtu|default(9100) }}
      dhcp4: false
      dhcp6: false
      accept-ra: false
      optional: true
{%     endif %}
{%   endfor %}
{% endfor %}
