[Match]
Type=ether
{% if interface.ifname is defined %}
Name={{ interface.ifname }}
{% elif item.interface.pattern is defined %}
Name={{ interface.pattern }}
{% else %}
Name=*
{%  if interface.macaddr is defined %}
MACAddress={{ interface.macaddr }}
{%  elif interface.driver is defined %}
Driver={{ interface.driver }}
{%  endif %}
{% endif %}
