{# Requires variables: #}
{#   - config: general configuration for bond #}
[NetDev]
Name={{ config.name }}
Kind=bond

[Bond]
Mode=802.3ad
MIIMonitorSec=100ms
LACPTransmitRate=fast
TransmitHashPolicy=layer2+3
