{# Requires variables: #}
{#   - interface: dictionary of interface configuration attributes #}
{#   - config: general configuration for bond, bridge or interface #}
{#   - defaultmtu: default MTU size to use if not specified #}
[Match]
{# We always resolve the macaddr. Use that as the base match #}
MACAddress={{ interface.macaddr }}

[Link]
{# We always set a name.  Unless the user overrides it, this is the #}
{# biosdevname of the interface #}
Name={{ interface.name }}
WakeOnLan=off
{% if not is_bond|default(false) %}
MTUBytes={{ config.mtu|default(defaultmtu) }}
{% endif %}
{% if interface.speed is defined %}
BitsPerSecond={{ interface.speed }}
{% endif %}
{% if interface.autonegotiation is defined %}
AutoNegotiation={{ 'yes' if interface.autonegotiation else 'no' }}
{% endif %}
