{# Requires variables: #}
{#   - config: general configuration for bond #}
{#   - interface: specific interface #}
[Match]
Type=ether
Name={{ interface.name }}

[Link]
Promiscuous=true

[Network]
Bond={{ config.name }}
