{# VXLAN underlay interface bringup: #}
{#  - config: dictionary containing configuration #}
{% include "networkd.network.match.j2" %}

[Link]
MTUBytes={{ config.mtu | default(9100) }}

[Network]
KeepConfiguration=yes
LinkLocalAddressing=ipv6
IPv6AcceptRA=no
DHCP=no
