{# Requires variables: #}
{#   - config: general configuration for bridge #}
{#   - interface: specific interface #}
{% if interface.ifname | default("") in network_bond_names %}
[Match]
Name={{ interface.ifname }}
{% else %}
{% include "networkd.network.match.j2" %}
{% endif %}

[Link]
MTUBytes={{ config.mtu | default(1500) }}
Promiscuous=true

[Network]
Bridge={{ config.name }}
DHCP=no
LinkLocalAddressing=no
LLDP=no
EmitLLDP=no
IPv6AcceptRA=no
IPv6SendRA=no

{% if interface.vlans is defined %}
{%   if not config.vlan_aware|default(true) %}
{{ notdefined | mandatory(msg='bridge is not vlan aware, cannot specify vlans') }}
{%   endif %}
{%   for vlan in interface.vlans %}

[BridgeVLAN]
VLAN={{ vlan }}
{%   endfor %}
{% endif %}
{% if interface.pvid is defined %}

[BridgeVLAN]
PVID={{ interface.pvid }}
EgressUntagged={{ interface.pvid }}
{% endif %}
