{# VXLAN underlay interface bringup #}
[Match]
{% if interface.is_phy %}
Type=ether
{% endif %}
Name={{ interface.name }}

[Link]
MTUBytes={{ interface.mtu | default(9100) }}

[Network]
KeepConfiguration=yes
LinkLocalAddressing=ipv6
IPv6AcceptRA=no
DHCP=no
