{# Requires variables: #}
{#   - config: general configuration for vxlan interface #}
{#   - network_vtep_ip: ip/netmask of vtep #}
[NetDev]
Name=vxl{{ config.vni }}
MTUBytes={{ config.mtu | default(1500) }}
Kind=vxlan

[VXLAN]
VNI={{ config.vni }}
{# If using a vlan-aware bridge, we are using vxlan0 to contain this info #}
{% if config.vlan is not defined %}
Local={{ network_vtep_ip|split('/')|first }}
MacLearning=false
DestinationPort=4789
Independent=true
{% endif %}

{% if config.vlan is defined %}
[VLAN]
Id={{ config.vlan }}
{% endif %}
