#!/bin/bash
{% import 'macros/ip_funcs.j2' as ipfn %}
{% set bond_ifnames = network_bonds|default([]) | map(attribute='name') | list %}
{% set bridge_ifnames = network_bridges|default([]) | map(attribute='name') | list %}
case "$IFACE" in
{# ------ VXLAN UNDERLAY PHYSICAL INTERFACES ------ #}
{% for interface in network_underlay_interfaces|default([]) %}
{%   set ifnames = ipfn.resolve_ifnames(ansible_facts, interface, bond_ifnames + bridge_ifnames) | from_yaml %}
{%   for ifname in ifnames %}
{%     if ifname not in bond_ifnames + bridge_ifnames %}
    {{ ifname }})
      ethtool --set-fec {{ interface.ifname }} encoding {{ interface.fec|default('auto' if interface.speed|default(0) >= 25000 else 'rs') }}
      ethtool -s {{ interface.ifname }} duplex full {{ 'speed ' ~ interface.speed|default(0) if interface.speed is defined else '' }} autoneg {{ 'on' if interface.autonegotiation|default(true) else 'off' }}
      ;;
{%     endif %}
{%   endfor %}
{% endfor %}
{# ------ BOND PHYSICAL ETHERNET INTERFACES ------ #}
{% for interface in network_bonds|default([]) %}
{%   set ifnames = ipfn.resolve_ifnames(ansible_facts, interface) | from_yaml %}
{%   for ifname in ifnames %}
    {{ ifname }})
      ethtool --set-fec {{ interface.ifname }} encoding {{ interface.fec|default('auto' if interface.speed|default(0) >= 25000 else 'rs') }}
      ethtool -s {{ interface.ifname }} duplex full {{ 'speed ' ~ interface.speed|default(0) if interface.speed is defined else '' }} autoneg {{ 'on' if interface.autonegotiation|default(true) else 'off' }}
      ;;
{%   endfor %}
{% endfor %}
{# ------ PHYSICAL ETHERNET INTERFACES ------ #}
{% for interface in network_interfaces|default([]) %}
{%   set ifnames = ipfn.resolve_ifnames(ansible_facts, interface) | from_yaml %}
    {{ ifnames[0] }})
      ethtool --set-fec {{ interface.if_name }} encoding {{ interface.fec|default('auto' if interface.speed|default(0) >= 25000 else 'rs') }}
      ethtool -s {{ interface.if_name }} duplex full {{ 'speed ' ~ interface.speed|default(0) if interface.speed is defined else '' }} autoneg {{ 'on' if interface.autonegotiation|default(true) else 'off' }}
      ;;
{% endfor %}
    *)
      ;;
esac

exit 0
